body {
  font-family: 'helvetica';
  background-color: black;
}

#marsanimatie {
  max-width: 20%;
  position: relative;
  animation-name: mars;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#dagofnacht {
	margin-left: auto;
	margin-right: auto;
	display: block;
  max-width: 20%;
}

@keyframes mars {
  0%    {left:0%; top:15%;
  		  max-width: 5%;}	
  25%   {left:45%; top:0%;
  		  max-width: 15%;}
  50%   {left:90%; top:15%;
  		  max-width: 5%;}
  75%   {left:45%; top:0%;
  		  max-width: 15%;}
  100%  {left:0%; top:15%;
  		  max-width: 5%;}
}

/*telefoon*/
@media only screen and (min-width: 320px) { 
  h1{
    font-size: 30px;
    color: orange;
    display: flex;
    justify-content: center;
  }

  #klok {
    color: orange;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  #dagofnacht {
    max-width: 50%;
  } 
}

/*Tablet portrait*/
@media only screen and (min-width: 768px) {
  h1{
    font-size: 20px;
    color: orange;
    display: flex;
    justify-content: center;
  }

  #klok {
    color: orange;
    display: flex;
    justify-content: center;
    min-width: 70%;
  }

  #dagofnacht {
    max-width: 40%;
  }

}

/*Tablet landscape*/
@media only screen and (min-width: 1024px) {
  h1{
    font-size: 40px;
    color: orange;
    display: flex;
    justify-content: center;
  }

  #klok {
    color: orange;
    display: flex;
    justify-content: center;
    min-width: 30%;
  }

  #dagofnacht {
    max-width: 30%;
  }
}

/*Desktop */
@media only screen and (min-width: 1440px) {
  h1{
    font-size: 50px;
    color: orange;
    display: flex;
    justify-content: center;
  }

  #klok {
    color: orange;
    display: flex;
    justify-content: center;
    min-width: 30%;
  }
  
  #dagofnacht {
    max-width: 20%;
  } 
}


